.App {
	display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
	"head head head head head head head head head head head"
    "cont cont cont cont cont cont cont cont cont cont cont"
    "misc misc misc misc misc misc misc misc misc misc misc"
    "foot foot foot foot foot foot foot foot foot foot foot";
}